<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">`
    <link rel="stylesheet" href="master.css">
    <script src="https://kit.fontawesome.com/091589d09b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
          <a href="#" class="navbar-brand">Time Value</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="#"class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Products</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><i class="fas fa-shopping-cart fa-2x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



    <header>
        <h1>Responsiv Grid Layout </h1>
    </header>
        
    <div class="wall">
        <div class="wall-item">
            <img src="/image/1.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/2.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/3.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/4.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/5.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/6.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
        <div class="wall-item">
            <img src="/image/7.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloribus voluptatem explicabo vitae repellat odio voluptates eligendi consequatur delectus quo.</p>
        </div>
        <div class="wall-item">
            <img src="/image/9.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, aliquid?</p>
        </div>
        <div class="wall-item">
            <img src="/image/8.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit numquam cupiditate, natus blanditiis saepe nemo cum eius ea libero, animi quaerat minima cumque incidunt veritatis, in eos? Deserunt, sequi.</p>
        </div>
        <div class="wall-item">
            <img src="/image/5.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim </p>
        </div>
        <div class="wall-item">
            <img src="/image/4.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="wall-item">
            <img src="/image/3.jpg">
            <h2>Lorem, ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aspernatur, molestias cum delectus enim soluta ullam eligendi a nisi repudiandae eius distinctio perspiciatis quisquam sequi odit ducimus nesciunt, accusantium fugiat!</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="jaliswall.js"></script>
    <script type="text/javascript">
        $('.wall').jaliswall({
            item: '.wall-item',
            columnClass: '.wall-column'
        });
    </script>
</body>

</html>